{% load static %}
<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>She Codes News</title>
    <meta name="description" content="">
    <meta name="author" content="Hayley van Waas">
    <meta name="author" content="Sahar">

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">

</head>

<body>

{% include './nav.html' %}


<div class="container">
    <!-- content blocks here -->
    {% block content %}{% endblock %} </div>
</body>
</html>
