<div class="col-md-4">
    <div class="card mx-2 my-2" style="width: 18rem;" id="story-card-{{ position }}">
        <img src="{{ story.image.url}}" class="card-img-top"
             style="min-height: 250px;">

        <div class="card-body">
            <h5 class="card-title">{{ story.title }}</h5>
            <!-- <h4>{{ story.author }}</h4> -->
            <p class="card-text">{{ story.pub_date|date:"d-M-Y" }}</p>
            <p>
                by
                <a href="{% url 'users:profile' story.author.username %}">
                    <!-- <span class="badge bg-secondary">{{ story.author }}</span> -->
                    {{ story.author }}

                </a>
            </p>
            <a href="{% url 'news:story' story.id %}" class="btn btn-primary">Read more</a>
        </div>
    </div>
</div>